.l-col
    box-sizing border-box
    flex 0 0 100%
    max-width 100%
    min-height 1px
    padding-right ($gutters / 2) px
    padding-left ($gutters / 2) px

    +variant(no-gutters)
        padding 0

    +variant(no-gutter-left)
        padding-left 0

    +variant(no-gutter-right)
        padding-right 0
