.l-grid
    box-sizing border-box

    +variant(container)
        max-width 1520px
        width 100%
        padding-right  ($gutters / 2) px
        padding-left  ($gutters / 2) px
        margin-right auto
        margin-left auto

    +variant(no-gutters)
        padding 0
