//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html
<html class='no-js' lang='ru'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title test
  meta(name='description', content= 'A new Yeogurt application')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  header.ui-header
    nav.ui-header__menu.js-menu
      .ui-menu.ui-menu--with-indicator
        .ui-menu__list
          .ui-menu__item.active
            a(href="").ui-menu__link ГЛАВНАЯ
          .ui-menu__item
            a(href="").ui-menu__link УНИВЕРСИТЕТ
          .ui-menu__item
            a(href="").ui-menu__link ВАКАНСИИ
          .ui-menu__item
            a(href="").ui-menu__link О НАС
          .ui-menu__item
            a(href="").ui-menu__link КОНТАКТЫ
        span.ui-menu-indicator

  a.ui-target(href="#")
    svg(width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(filter="url(#filter0_d)")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H24V4H0V0ZM0 12H24V16H0V12ZM24 6H0V10H24V6Z" transform="translate(4 2)" fill="white")
      defs
        filter#filter0_d(x="0" y="0" width="32" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
          feFlood(flood-opacity="0" result="BackgroundImageFix")
          feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 255 0")
          feOffset(dy="2")
          feGaussianBlur(stdDeviation="2")
          feColorMatrix(type="matrix" values="0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0.3 0")
          feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
          feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")


  block content

  block scripts
    script(src= baseUrl + 'scripts/main.js')

</html>
