@font-face
  font-family 'Helvetica Regular'
  src url('/fonts/HelveticaRegular/Helvetica-Regular.eot')
  src  local('Helvetica Regular'), local('Helvetica-Regular'),
  url('/fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Helvetica-Regular.woff2') format('woff2'),
  url('/fonts/Helvetica-Regular.woff') format('woff'),
  url('/fonts/Helvetica-Regular.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family 'Helvetica Bold'
  src url('/fonts/HelveticaBold/HelveticaNeueCyr-Bold.eot')
  src url('/fonts/HelveticaBold/HelveticaNeueCyr-Bold.eot?#iefix')format('embedded-opentype'),
  url('/fonts/HelveticaBold/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('/fonts/HelveticaBold/HelveticaNeueCyr-Bold.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family 'Helvetica Medium'
  src url('/fonts/HelveticaMedium/HelveticaNeueCyr-Medium.eot')
  src url('/fonts/HelveticaMedium/HelveticaNeueCyr-Medium.eot?#iefix')format('embedded-opentype'),
  url('/fonts/HelveticaMedium/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('/fonts/HelveticaMedium/HelveticaNeueCyr-Medium.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family 'Helvetica Roman'
  src url('/fonts/HelveticaRoman/HelveticaNeueCyr-Roman.eot')
  src url('/fonts/HelveticaRoman/HelveticaNeueCyr-Roman.eot?#iefix')format('embedded-opentype'),
  url('/fonts/HelveticaRoman/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('/fonts/HelveticaRoman/HelveticaNeueCyr-Roman.ttf') format('truetype')
  font-style normal
  font-weight normal

@font-face
  font-family 'Helvetica Light'
  src url('/fonts/HelveticaLight/HelveticaNeueCyr-Light.eot')
  src url('/fonts/HelveticaLight/HelveticaNeueCyr-Light.eot?#iefix')format('embedded-opentype'),
  url('/fonts/HelveticaLight/HelveticaNeueCyr-Light.woff') format('woff'),
  url('/fonts/HelveticaLight/HelveticaNeueCyr-Light.ttf') format('truetype')
  font-style normal
  font-weight normal
