@font-face
  font-family 'Helvetica'
  src url('/fonts/helvetica/helvetica.eot')
  src local('Helvetica'),
      url('/fonts/helvetica/helvetica.eot?#iefix') format('embedded-opentype'),
      url('/fonts/helvetica/helvetica.woff') format('woff'),
      url('/fonts/helvetica/helvetica.ttf') format('truetype'),
      url('/fonts/helvetica/helvetica.svg') format('svg')
  font-weight normal
  font-style normal



