extends _layouts/base

block content
  .ui-space
    .ui-space__right-tab
      .ui-space__target
        span Главная
        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          g(filter="url(#filter0_d)")
            circle(cx="12" cy="12" r="10.5" stroke="white" stroke-width="3")
          defs
            filter#filter0_d(x="0" y="0" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
              feFlood(flood-opacity="0" result="BackgroundImageFix")
              feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 255 0")
              feOffset(dx="5" dy="5")
              feGaussianBlur(stdDeviation="12.5")
              feColorMatrix(type="matrix" values="0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0 0.141176 0 0 0 0.15 0")
              feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
              feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")

    .ui-space__header
      .ui-heading.ui-heading--lvl1 Сложные интернет-проекты
        span Проектируем. Разрабатываем. Развиваем.
    .ui-space__button
      a.ui-button.ui-button--default(href="#")
        span Подробнее
        svg.ui-button__line(width="80" height="1" viewBox="0 0 80 1" fill="none" xmlns="http://www.w3.org/2000/svg")
          g(style="mix-blend-mode:soft-light" transform="translate(80) rotate(90)")
            rect(width="1" height="80" fill="white")

        svg.ui-button__angle.ui-button__angle--top-left(viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(stroke="white" strike-width="1" d="M0 0 l10 0 M0 0 l0 10")
        svg.ui-button__angle.ui-button__angle--top-right(viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(stroke="white" strike-width="1" d="M0 0 l10 0 l0 10")
        svg.ui-button__angle.ui-button__angle--bottom-left(viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(stroke="white" strike-width="1" d="M0 0 l0 10 M0 10 l10 0")
        svg.ui-button__angle.ui-button__angle--bottom-right(viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(stroke="white" strike-width="1" d="M0 10 l10 0 M10 0 l0 10")
    .ui-space__line
      svg(width="1" height="307" viewBox="0 0 1 307" fill="none" xmlns="http://www.w3.org/2000/svg")
        g(style="mix-blend-mode:soft-light" transform="translate(0.5 1.33203)")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0V304.589V0Z" fill="white")
          path(d="M0 0V304.589" stroke="url(#paint1_linear)" stroke-linecap="square")
        defs
          linearGradient#paint1_linear(x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(0 232.979) scale(1.62428 165.677) rotate(-90)")
            stop(stop-color="#29343D" stop-opacity="0.01")
            stop(offset="1" stop-color="white")

  .ui-spektr
    .ui-spektr__header
      .ui-heading.ui-heading--lvl2
        | ШИРОКИЙ СПЕКТР
        span IT РЕШЕНИЙ ДЛЯ БИЗНЕСА
    .ui-spektr__content
      .ui-spektr__list
        .ui-spektr__item
          .ui-timeline-item.ui-timeline-item--first
            .ui-timeline-item__title Проектирование и дизайн
            .ui-timeline-item__text
              | Аналитика,
              br
              | Прототипирование
              br
              | Спецификация,
              br
              | Дизайн-концепция
        .ui-spektr__item
          .ui-timeline-item.ui-timeline-item--two
            .ui-timeline-item__title Разработка
            .ui-timeline-item__text
              | Комплект дизайн-макетов
              br
              | Верстка макетов
              br
              | Программирование
              br
              | Промежуточные версии
              br
        .ui-spektr__item
          .ui-timeline-item.ui-timeline-item--three
            .ui-timeline-item__title Стабилизация
            .ui-timeline-item__text
              | Разработка тест-кейсов
              br
              | Пред-финальные доработки
              br
              | Опытная эксплуатация
              br
              | Тестирование
        .ui-spektr__item
          .ui-timeline-item.ui-timeline-item--four
            .ui-timeline-item__title Ввод в эксплуатацию
            .ui-timeline-item__text
              | Подготовка площадки
              br
              | Тестирование
              br
              | Промышленная эксплуатация
        .ui-spektr__item
          .ui-timeline-item.ui-timeline-item--five
            .ui-timeline-item__title Проектирование и дизайн
            .ui-timeline-item__text
              | Мониторинг и аналитика
              br
              | Оптимизация
              br
              | Создание нового функционала

      .ui-spektr__timeline
        svg(width="100%", height="409", viewBox="0 0 1920 409", fill="none", xmlns="http://www.w3.org/2000/svg")
          defs
            linearGradient#paint0_linear(x2="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(1921.51 61.1006) scale(1921.51 122.201) rotate(-180)")
              stop(stop-color="#FF10D8")
              stop(offset="1" stop-color="#10DEBC")
          path(d="M0 49.3793H660.344C660.344 49.3793 700.365 50.3768 757.394 44.8902C814.424 39.4037 837.436 80.3037 889.463 80.3037C941.49 80.3037 991.335 16.9585 1029.54 16.9585C1067.74 16.9585 1078.56 72.3232 1118.08 72.3232C1157.6 72.3232 1154.1 0 1191.62 0C1229.14 0 1262.73 122.201 1322.19 122.201C1381.65 122.201 1357.97 8.00379 1406.23 6.48415C1454.5 4.96451 1461.26 57.8585 1511.29 57.8585C1561.31 57.8585 1564.81 19.9512 1615.34 19.9512C1665.87 19.9512 1684.38 66.3378 1740.41 57.8585C1796.44 49.3793 1796.44 49.3793 1821.95 49.3793C1847.46 49.3793 1921.51 49.3793 1921.51 49.3793" transform="translate(-1.00052 154.123)" stroke="url(#paint0_linear)" stroke-width="2")
          path(d="M0.5 4.48901C0.5 2.28787 2.29734 0.5 4.50234 0.5C6.70735 0.5 8.50468 2.28787 8.50468 4.48901C8.50468 6.69016 6.70735 8.47803 4.50234 8.47803C2.29734 8.47803 0.5 6.69016 0.5 4.48901Z" transform="translate(111.058 199.512)" fill="#1FD2BE" stroke="#27323C")
          path(d="M0.5 4.48901C0.5 2.28787 2.29733 0.5 4.50233 0.5C6.70734 0.5 8.50467 2.28787 8.50467 4.48901C8.50467 6.69016 6.70734 8.47803 4.50233 8.47803C2.29733 8.47803 0.5 6.69016 0.5 4.48901Z" transform="translate(129.067 199.512)" fill="#21CFBE" stroke="#27323C")
          path(d="M0.5 4.48901C0.5 2.28787 2.29732 0.5 4.50232 0.5C6.70732 0.5 8.50464 2.28787 8.50464 4.48901C8.50464 6.69016 6.70732 8.47803 4.50232 8.47803C2.29732 8.47803 0.5 6.69016 0.5 4.48901Z" transform="translate(346.18 199.512)" fill="#3CB8C1" stroke="#27323C")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1.00049V199.512H0V0Z" transform="translate(350.182)" fill="#63717C")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1.00049V199.512H0V0Z" transform="translate(369.192 208.49)" fill="#63717C")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1.00061V199.512H0V0Z" transform="translate(654.341 208.49)" fill="#63717C")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1.00049V199.512H0V0Z" transform="translate(1024.53 175.571)" fill="#63717C")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0H1.00049V199.512H0V0Z" transform="translate(1250.65 16.9585)" fill="#63717C")
          path(d="M0.5 4.48901C0.5 2.28787 2.29732 0.5 4.50232 0.5C6.70732 0.5 8.50464 2.28787 8.50464 4.48901C8.50464 6.69016 6.70732 8.47803 4.50232 8.47803C2.29732 8.47803 0.5 6.69016 0.5 4.48901Z" transform="translate(365.19 199.512)" fill="#3FB6C1" stroke="#27323C")
          path(d="M0.5 4.48901C0.5 2.28787 2.29732 0.5 4.50232 0.5C6.70732 0.5 8.50464 2.28787 8.50464 4.48901C8.50464 6.69016 6.70732 8.47803 4.50232 8.47803C2.29732 8.47803 0.5 6.69016 0.5 4.48901Z" transform="translate(468.244 199.512)" fill="#4BABC3" stroke="#27323C")
          path(d="M0.5 4.48901C0.5 2.28788 2.29737 0.5 4.50238 0.5C6.70739 0.5 8.50476 2.28788 8.50476 4.48901C8.50476 6.69015 6.70739 8.47803 4.50238 8.47803C2.29737 8.47803 0.5 6.69015 0.5 4.48901Z" transform="translate(650.339 199.512)" fill="#6297C6" stroke="#27323C")
          path(d="M0.5 4.48903C0.5 2.28787 2.29731 0.5 4.50232 0.5C6.70733 0.5 8.50464 2.28787 8.50464 4.48903C8.50464 6.69019 6.70733 8.47806 4.50232 8.47806C2.29731 8.47806 0.5 6.69019 0.5 4.48903Z" transform="translate(1020.53 166.593)" fill="#9170CB" stroke="#27323C")
          path(d="M0.5 4.48903C0.5 2.28787 2.29731 0.5 4.50232 0.5C6.70733 0.5 8.50464 2.28787 8.50464 4.48903C8.50464 6.69019 6.70733 8.47806 4.50232 8.47806C2.29731 8.47806 0.5 6.69019 0.5 4.48903Z" transform="translate(1246.65 216.471)" fill="#AB57CD" stroke="#27323C")
          path(d="M0.5 4.48901C0.5 2.28788 2.29742 0.5 4.50244 0.5C6.70746 0.5 8.50488 2.28788 8.50488 4.48901C8.50488 6.69014 6.70746 8.47803 4.50244 8.47803C2.29742 8.47803 0.5 6.69014 0.5 4.48901Z" transform="translate(1316.69 271.337)" fill="#B550CF" stroke="#27323C")
          path(d="M0.5 4.48903C0.5 2.28787 2.29731 0.5 4.50232 0.5C6.70733 0.5 8.50464 2.28787 8.50464 4.48903C8.50464 6.69019 6.70733 8.47806 4.50232 8.47806C2.29731 8.47806 0.5 6.69019 0.5 4.48903Z" transform="translate(1644.86 177.566)" fill="#DC2DD2" stroke="#27323C")


  .ui-steck
    .ui-steck__header
      .ui-heading.ui-heading--lvl2
        | ИСПОЛЬЗУЕМ ПЕРЕДОВОЙ
        span СТЕК ТЕХНОЛОГИЙ
    .ui-steck__content
      .l-grid.l-grid--container
        .l-row.l-row--md-middle
          .l-col.l-col--xs-12.l-col--md-3.h-text--center
            .ui-steck-card.ui-steck-card--react
              .ui-steck-card__img
                img(src="/images/steck-1.png")
              .ui-steck-card__title React JS
              .ui-steck-card__description Библиотека для быстрого создания интерфейсов.
          .l-col.l-col--xs-12.l-col--md-3.h-text--center
            .ui-steck-card
              .ui-steck-card__img
                img(src="/images/steck-2.png")
              .ui-steck-card__title Zend Framework
              .ui-steck-card__description PHP фреймворк для разработки веб-приложений.
          .l-col.l-col--xs-12.l-col--md-3.h-text--center
            .ui-steck-card
              .ui-steck-card__img
                img(src="/images/steck-3.png")
              .ui-steck-card__title PHP 7
              .ui-steck-card__description Современный язык программирования.
          .l-col.l-col--xs-12.l-col--md-3.h-text--center
            .ui-steck-card.ui-steck-card--doctrine
              .ui-steck-card__img
                img(src="/images/steck-4.png")
              .ui-steck-card__title Doctrine 2
              .ui-steck-card__description Объектно-реляционный проектор&nbsp;для PHP.
